
.jumbotron {
  padding-top: 90px;
  min-height: 700px;
  margin-bottom: 0;
  background-image: url('images/sample-sale-1.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron h1 {
  font-family: 'Roboto Slab', serif;
  color: black;
  margin-bottom: 1em;
  text-align: center;
}


#Current-sales {
  background-color: rgba(32, 35, 41, 0.9);
  color: #dde;
  padding-bottom: 40px;
}

.jumbotron .form-group {
  line-height: 4em;
  text-align: center;
}

.jumbotron label {
  color: black;
}
.jumbotron img {
  margin-top: 50px;
}
h2 {
  margin-bottom: 1.5em;
}

.navbar-inverse {
  background-color: rgba(32, 35, 41,0.8);
}

.form-group input[name='email'] {
  width: 40%;
  margin: 0 auto;
  text-align: center;
}

.row img {
  width: 50%;
}


#social-buttons {
  margin-top: 80px;
  background-color: rgba(32, 35, 41, 0.9);
  padding-bottom: 40px;
}


.btn-twitter {
  background-color: #00acee;
  border-color: #009ad5;
  color: white;
}

.btn-facebook {
  background-color: #4868ac;
  border-color: #314776;
  color: white;
}

.btn-pinterest {
  background-color: #b62f26;
  border-color: #b62f26;
  color: white;
}
